<html>
<head>
    <title>Create a shortcut</title>
</head>
<body>
    <div style="text-align: center;">
    <form method="post" action="/create">
        <h2>Create a shortcut.</h2>
        <input type="text" size="100" name="url">
        <br>
        <br>
        <input type="submit" value="Create" style="width: 80px; height: 45px; font-size: 14pt;">
    </form>
    </div>
</body>
</html>
